<header>
    <div class="logo">
        <h1>Viajes</h1>
    </div>
    <nav>
        {{#if userAdmin}}
            <a href="http://localhost:3000/usuarios/crear-viaje"><i class="fa fa-plus-square-o"></i>&nbsp; Crear viaje</a>
        {{/if}}
        {{#if userName}}
            <a href="http://localhost:3000/usuarios/usuario"><i class="fa fa-user"></i>&nbsp; {{userName}}</a>
            <a href="http://localhost:3000/usuarios/logout"><i class="fa fa-sign-out"></i>&nbsp; Cerrar sesión</a>
        {{else}}
            <a href="http://localhost:3000/usuarios/registrar"><i class="fa fa-user-plus"></i>&nbsp; Registro</a>
            <a href="http://localhost:3000/usuarios/login"><i class="fa fa-user-secret"></i>&nbsp;Identificación</a>
        {{/if}}
    </nav>
</header>
<section class="showTravels">
{{#each travels}}
    <a href="http://localhost:3000/detalle/{{id}}" class="card">
        <img src={{ruta_imagen}} alt="{{destino}}">
        <div class="cardinfo">
            <div>
                <div>{{destino}}</div>
                <div class="descuento">{{descuento}}</div>
            </div>
            <div class="precio">{{precio}}</div>
        </div>
    </a>
{{/each}}
</section>
<script src="/js/price.js"></script>