<header>
    <div class="logo">
        <h1>Viajes</h1>
    </div>
    <nav>
        {{#if isAdmin}}
            <a href="/usuarios/lista"><i class="fa fa fa-users"></i>&nbsp; Lista usuarios</a>
            <a href="/crear-viaje"><i class="fa fa-plus-square-o"></i>&nbsp; Crear viaje</a>
        {{/if}}
        {{#if userName}}
            <a href="/usuarios/datos-usuario"><i class="fa fa-user"></i>&nbsp; {{userName}}</a>
            <a href="/usuarios/logout"><i class="fa fa-sign-out"></i>&nbsp; Cerrar sesión</a>
        {{else}}
            <a href="/usuarios/registrar"><i class="fa fa-user-plus"></i>&nbsp; Registro</a>
            <a href="/usuarios/login"><i class="fa fa-user-secret"></i>&nbsp;Identificación</a>
        {{/if}}
        {{#if isSession}}
            <a href="/viajes/carrito" class="cart"><i class="fa fa-shopping-cart"></i><span class="numCart">{{itemsCart}}</span><span class="textCart">Carrito</span></a>
        {{/if}}
    </nav>
</header>
<div class="contenedor">
    {{#if msg}}
        <div class="center text-info">{{msg}}</div>
    {{/if}}
    <section class="showTravels">
        {{#if error}}
            <div class="text-danger" id="msgError">
                * {{error}}
            </div>
        {{else}}
            {{#each travels}}
                <a href="/detalle/{{id}}" class="card">
                    <img src="/uploads/{{imagenPrincipal.imagene.imagen}}" alt="{{destino}}">
                    <div class="cardinfo">
                        <div>
                            <div>{{destino}}</div>
                            <div class="descuento">{{descuento}}</div>
                        </div>
                        <div class="precio">{{precio}}</div>
                    </div>
                </a>
            {{/each}}
        {{/if}}
    </section>
    <div class="pageForwBack">
        {{#with pagination}}
            {{#if btnIni}}
                <a href="http://localhost:3000/p/1" class="btnPgBack"><i class="fa fa-angle-double-left"></i> Primera</a>
                <a href="http://localhost:3000/p/{{btnBack}}" class="btnPgBack">{{btnBack}} <i class="fa fa-caret-left"></i></a>
            {{/if}}
            <span class="currentPge">{{page}}</span>
            {{#if btnEnd}}
                <a href="http://localhost:3000/p/{{btnForw}}" class="btnPgBack"><i class="fa fa-caret-right"></i> {{btnForw}}</a>
                <a href="http://localhost:3000/p/{{btnEnd}}" class="btnPgForw"><i class="fa fa-angle-double-right"></i> Última</a>
            {{/if}}   
        {{/with}}          
    </div>
</div>

<script src="/js/price.js"></script>
