{{> header}}
<div class="contenedor center">
    {{#if users}}
        <form action="/usuarios/lista" method="post" class="large">
            <div class="formtit">Listado de usuarios</div>
            <div class="tableu">
                <div class="rowu capt">
                    <div class="cellu">Usuario</div>
                    <div class="cellu">Email</div>
                    <div class="cellu">Rol</div>
                    <div class="cellu">Estado</div>
                    <div class="cellu">E-mail</div>
                </div>
                {{#each users}}
                    <div class="rowu">
                        <div class="cellu">{{usuario}}</div>
                        <div class="cellu">{{email}}</div>
                        <div class="cellu">
                            <select size="1" name="role" class={{id}}>
                                <option value="administrador" {{selectAdmin}}>Administrador</option>
                                <option value="usuario" {{selectUser}}>Usuario</option>
                            </select>
                        </div>
                        <div class="cellu">
                            <select size="1" name="active" class={{id}}>
                                <option value="true" {{selectActiv}}>Activo</option>
                                <option value="false" {{selectInactiv}}>Inactivo</option>
                            </select>
                        </div>
                        <div class="cellu">
                            <button name="sendMail" class={{id}}>Enviar</button>
                        </div>
                        <input type="text" id="rol{{id}}" hidden="hidden" value={{rolIni}}>
                        <input type="text" id="act{{id}}" hidden="hidden" value={{actIni}}>
                        <input type="text" id="user{{id}}" hidden="hidden" value={{usuario}}>
                        <input type="text" id="id{{id}}" hidden="hidden" value={{id}}>
                        <input type="text" id="mail{{id}}" hidden="hidden" value={{email}}>
                    </div>                    
                {{/each}}
            </div>
        </form>
    {{/if}}
    <div class="text-danger" id="msgError">
        {{#if error}}
            * {{error}}
        {{/if}}
    </div>
    <div class="text-success" id="msgSuccess">
    </div>
</div>
<script src="/js/list.js"></script>
