{{> header}}
<div class="contenedor center">
    {{#if users}}
        <form action="/usuarios/lista" method="post" class="large">
            <div class="formtit">Listado de usuarios</div>
            <div class="tableu">
                <div class="rowu capt">
                    <div class="cellu">Usuario</div>
                    <div class="cellu">Email</div>
                    <div class="cellu">Rol</div>
                    <div class="cellu">Estado</div>
                    <div class="cellu">Enviar mail</div>
                </div>
                {{#each users}}
                    <div class="rowu">
                        <div class="cellu">{{usuario}}</div>
                        <div class="cellu">{{email}}</div>
                        <div class="cellu">
                            <select name="rol" size="1" class={{id}}>
                                <option value="administrador" {{selectAdmin}}>Administrador</option>
                                <option value="usuario" {{selectUser}}>Usuario</option>
                            </select>
                        </div>
                        <div class="cellu">
                            <select name="activo" size="1" class={{id}}>
                                <option value="true" {{selectActiv}}>Activo</option>
                                <option value="false" {{selectInactiv}}>Inactivo</option>
                            </select>
                        </div>
                        <input type="checkbox" name="sendMail{{id}}" value="no" id="mail{{id}}" class="chkbox">
                        <input type="text" name="rolIni" id="rol{{id}}" hidden="hidden" value={{rolIni}}>
                        <input type="text" name="actIni" id="act{{id}}" hidden="hidden" value={{actIni}}>
                        <input type="text" name="usuario" hidden="hidden" value={{usuario}}>
                        <input type="text" name="id" hidden="hidden" value={{id}}>
                        <input type="text" name="email" hidden="hidden" value={{email}}>
                    </div>                    
                {{/each}}
            </div>
            <div>
                <button type="button" id="btnSubmit" class="btn btn-success">Enviarr&nbsp; <i class="fa fa-send-o"></i></button>
            </div>
        </form>
    {{/if}}
    <div class="text-danger" id="msgError">
        {{#if error}}
            * {{error}}
        {{/if}}
    </div>
    {{#if changes}}
        <div class="text-success">
            {{{changes}}}
        </div>
    {{/if}}
</div>
<script src="/js/list.js"></script>
