{{> header}}
<div class="contenedor center">
{{#if error}}
    <div class="text-danger" id="msgError">
        * {{error}}
    </div>
{{else}}
    <div class="text-success">
        Viaje creado correctamente
    </div>
    <div class="infoita">Elige la imagen principal para mostrar</div>
    <form action="/viaje/imagen-principal" method="post">
        <div class="showImages">
            {{#each images}}
                <label class="cardImage">
                    <input type="radio" name="mainImgId" value="{{id}}">
                    <img src="/uploads/{{imagen}}" alt="Imagen viaje">
                </label>
            {{/each}}
        </div>
        <input type="text" name="travelId" value={{travelId}} hidden="hidden">
        <div>
            <button type="button" class="btn btn-success" id="btnSubmit">Elegir&nbsp; <i class="fa fa-send-o"></i></button>
        </div>
    </form>
    <div class="text-danger" id="msgError">
    </div>
{{/if}}
</div>
<script src="/js/added.js"></script>
