{{> header}}
<div class="contenedor">
    {{#if error}}
        <div class="text-danger" id="msgError">
            * {{error}}
        </div>
    {{else}}
        <div id="showDetail">
            {{#with travel}}
                <div class='title'>{{destino}}</div>
                <div class='hr'></div>
                <div class='travel'>
                    <img src="/uploads/{{imagenPrincipal.imagene.imagen}}" alt="{{destino}}" class="zoom">
                    <div>
                        <div>Precio: <span class="precio">{{putDot precio}}</span><span class="space"></span><span class="descuento">{{putOldPrice precio descuento}}</span></div>
                        <div>Desde <span class="fecha">{{../dateIni}}</span> hasta <span class="fecha">{{../dateEnd}}</span></div>
                        <div>{{descripcion}}</div>
                        <form action="/viajes/agregar-carrito" method="post" class="carrito">
                            <label>Número personas: <input type="number" name="persons" value="1" min="1"></label>
                            <input type="hidden" value="{{id}}" name="idTravel">
                            <button type="button" id="btnSubmit"><i class="fa fa-cart-plus"></i>&nbsp; Añadir al carrito</button>                           
                        </form>
                    </div>
                </div>
                <div class="images">
                    {{#each ../imgs}}
                        <img src="/uploads/{{imagen}}" alt="{{destino}}" class="zoom">
                    {{/each}}
                </div>
            {{/with}}
        </div>
    {{/if}}
    <div class="text-danger center" id="msgError">
        {{#if error2}}
            * {{error2}}
        {{/if}}
    </div>
    <div class="text-success center" id="msgSuccess">
        {{#if success}}
            {{success}}
        {{/if}}
    </div>
</div>
</div>
<script src="/js/detail.js"></script>

