<div class="contenedor">
<div id="showDetail">
    {{#with dataTravel}}
    <div class='title'>{{destino}}</div>
    <div class='hr'></div>
    <div class='travel'>
        <img src="../{{ruta_imagen}}" alt="{{destino}}">
        <div>
            <div>Precio: <span class="precio">{{precio}}</span><span class="space"></span><span class="descuento">{{descuento}}</span></div>
            <div>Desde <span class="fecha">{{../dateIni}}</span> hasta <span class="fecha">{{../dateEnd}}</span></div>
            <div>{{descripcion}}</div>
        </div>
    {{/with}}
    </div>
</div>
</div>
<script src="/js/price.js"></script>
